In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('bestseller_books.csv')
df2 = pd.read_csv('computer_books.csv')
df3 = pd.read_csv('engineering_books.csv')

In [3]:
df_final = df2.append(df3, ignore_index = True)
df_final = df_final.append(df, ignore_index = True)
df_final

,Book Name,Author,Rating,User Rates,Price
0,Bilgisayar Sistemleri Mimarisi,M. Morris Mano,"5 yıldız üzerinden 5,0",6,"92,25 TL"
1,Peppa Pig: Peppa’s Best Day Ever: Magnet Book,Peppa Pig,"5 yıldız üzerinden 4,7",204,"155,82 TL"
2,Clean Code: A Handbook of Agile Software Craft...,Robert Martin,"5 yıldız üzerinden 4,7",2.382,"426,47 TL"
3,Press Reset: Ruin and Recovery in the Video Ga...,Jason Schreier,"5 yıldız üzerinden 4,6",87,"435,07 TL"
4,Her Yönüyle Go Programlamaya Giriş,Ecir Uğur Küçüksille-Nazan Kemaloğlu,"5 yıldız üzerinden 5,0",1,0
...,...,...,...,...,...
715,Venedik'te Ölüm: 1929 Nobel Edebiyat Ödülü,Thomas Mann,"5 yıldız üzerinden 4,6",21,"13,64 TL"
716,İlk Öyküler Rapunzel,İş Bankası Komisyon,"5 yıldız üzerinden 4,6",36,"23,38 TL"
717,Hadi Gezelim - Şehirde Kış: Ara-Bul Kitabı,Sue Tarsky,"5 yıldız üzerinden 4,8",16,"7,90 TL"
718,Mutluluğun Kazanılması: Hasan Ali Yücel Klasik...,Farabi,"5 yıldız üzerinden 4,8",157,"6,24 TL"
719,İnce Memed 4,YAŞAR KEMAL,"5 yıldız üzerinden 4,9",84,"30,91 TL"

In [4]:
df_final.drop_duplicates(inplace=True)
df_final.shape

(707, 5)

In [5]:
df_final['Rating'] = df_final['Rating'].apply(lambda x: x.split()[-1:][0])
df_final['Rating'] =df_final["Rating"].str.replace(',', '.')
df_final['User Rates'] =df_final["User Rates"].str.replace('.', '')
df_final

,Book Name,Author,Rating,User Rates,Price
0,Bilgisayar Sistemleri Mimarisi,M. Morris Mano,5.0,6,"92,25 TL"
1,Peppa Pig: Peppa’s Best Day Ever: Magnet Book,Peppa Pig,4.7,204,"155,82 TL"
2,Clean Code: A Handbook of Agile Software Craft...,Robert Martin,4.7,2382,"426,47 TL"
3,Press Reset: Ruin and Recovery in the Video Ga...,Jason Schreier,4.6,87,"435,07 TL"
4,Her Yönüyle Go Programlamaya Giriş,Ecir Uğur Küçüksille-Nazan Kemaloğlu,5.0,1,0
...,...,...,...,...,...
715,Venedik'te Ölüm: 1929 Nobel Edebiyat Ödülü,Thomas Mann,4.6,21,"13,64 TL"
716,İlk Öyküler Rapunzel,İş Bankası Komisyon,4.6,36,"23,38 TL"
717,Hadi Gezelim - Şehirde Kış: Ara-Bul Kitabı,Sue Tarsky,4.8,16,"7,90 TL"
718,Mutluluğun Kazanılması: Hasan Ali Yücel Klasik...,Farabi,4.8,157,"6,24 TL"
719,İnce Memed 4,YAŞAR KEMAL,4.9,84,"30,91 TL"

In [6]:
df_final.describe()

              Book Name        Author Rating User Rates Price
count               707           707    707        707   707
unique              687           572     26        308   506
top     unknown-product  Stefan Zweig    4.8       None     0
freq                  9            12    114         89    70

In [8]:
df_final.drop(df_final[df_final["User Rates"]=="None"].index, inplace=True)
df_final.drop(df_final[df_final["Price"] == '0'].index, inplace=True)
df_final.shape

(564, 5)

In [9]:
df_final['Price'] = df_final['Price'].apply(lambda x: x.split('\xa0')[0])
df_final["Price"] = df_final["Price"].str.replace(',', '.')
df_final

,Book Name,Author,Rating,User Rates,Price
0,Bilgisayar Sistemleri Mimarisi,M. Morris Mano,5.0,6,92.25
1,Peppa Pig: Peppa’s Best Day Ever: Magnet Book,Peppa Pig,4.7,204,155.82
2,Clean Code: A Handbook of Agile Software Craft...,Robert Martin,4.7,2382,426.47
3,Press Reset: Ruin and Recovery in the Video Ga...,Jason Schreier,4.6,87,435.07
6,Yaşam 3.0: Yapay Zeka Çağında İnsan Olmak,Max Tegmark,4.8,57,40.20
...,...,...,...,...,...
715,Venedik'te Ölüm: 1929 Nobel Edebiyat Ödülü,Thomas Mann,4.6,21,13.64
716,İlk Öyküler Rapunzel,İş Bankası Komisyon,4.6,36,23.38
717,Hadi Gezelim - Şehirde Kış: Ara-Bul Kitabı,Sue Tarsky,4.8,16,7.90
718,Mutluluğun Kazanılması: Hasan Ali Yücel Klasik...,Farabi,4.8,157,6.24
719,İnce Memed 4,YAŞAR KEMAL,4.9,84,30.91

In [10]:
df_final.Rating = df_final.Rating.astype(float)
df_final["User Rates"] = df_final["User Rates"].astype(int)
df_final.drop(df_final[df_final["Price"].str.len() == 8].index, inplace=True)
df_final

,Book Name,Author,Rating,User Rates,Price
0,Bilgisayar Sistemleri Mimarisi,M. Morris Mano,5.0,6,92.25
1,Peppa Pig: Peppa’s Best Day Ever: Magnet Book,Peppa Pig,4.7,204,155.82
2,Clean Code: A Handbook of Agile Software Craft...,Robert Martin,4.7,2382,426.47
3,Press Reset: Ruin and Recovery in the Video Ga...,Jason Schreier,4.6,87,435.07
6,Yaşam 3.0: Yapay Zeka Çağında İnsan Olmak,Max Tegmark,4.8,57,40.20
...,...,...,...,...,...
715,Venedik'te Ölüm: 1929 Nobel Edebiyat Ödülü,Thomas Mann,4.6,21,13.64
716,İlk Öyküler Rapunzel,İş Bankası Komisyon,4.6,36,23.38
717,Hadi Gezelim - Şehirde Kış: Ara-Bul Kitabı,Sue Tarsky,4.8,16,7.90
718,Mutluluğun Kazanılması: Hasan Ali Yücel Klasik...,Farabi,4.8,157,6.24
719,İnce Memed 4,YAŞAR KEMAL,4.9,84,30.91

In [11]:
df_final.Price = df_final.Price.astype(float)

In [12]:
df_final.dtypes

Book Name      object
Author         object
Rating        float64
User Rates      int32
Price         float64
dtype: object

In [13]:
df_final.drop(df_final[df_final["Book Name"] == "unknown-product"].index, inplace=True)

In [14]:
df_final.to_csv('biggest_ecommerce_books_data.csv', index=False, encoding='utf-8-sig')